* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    font-family: 'Lucida Console', cursive;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.title-container {
    text-align: center;
    margin-top: 20px;
}

.title-container h1 {
    margin: 0;
    font-size: 6.5em;
    line-height: 1.2;
}

.button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.9);
    padding: 20px 0;
    z-index: 1000;
}

.button-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.large-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 100px 30px;
    margin: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 2em;
}

.large-button span {
    transition: color 0.3s ease;
}

.large-button:hover {
    background-color: #555;
    transform: scale(1.05);
}

.large-button:hover span {
    color: black;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button2 {
    background-color: #008CBA;
}

.button3 {
    background-color: #f44336;
}

.button4 {
    background-color: #e7e7e7; 
    color: black;
}

h1 {
    font-size: 5em;
}

p {
    font-size: 2em;
}
